# Control & Loop Basic Exercise

In [1]:
#1. Iterate 10 to 0 using for loop, do the same using while loop

# Using for loop
for i in range(10, -1, -1):     # Starts at 10, ends at 0 (inclusive), steps down by 1
    print(i)

# Using while loop
i = 10                          # Initialize counter
while i >= 0:                   # Loop until i reaches 0
    print(i)
    i -= 1                      # Decrease i by 1 each time

10
9
8
7
6
5
4
3
2
1
0
10
9
8
7
6
5
4
3
2
1
0

In [2]:
#2.Write a loop that makes seven calls to print(), so we get on the output the following triangle:
  #
  ##
  ###
  ####
  #####
  ######
  #######
for i in range(1, 8):           # Loop from 1 to 7
    print("#" * i)              # Print i number of '#' characters

#
##
###
####
#####
######
#######

In [3]:
#3.Print the following pattern:
#0 x 0 = 0
#1 x 1 = 1
#2 x 2 = 4
#3 x 3 = 9
#4 x 4 = 16
#5 x 5 = 25
#6 x 6 = 36
#7 x 7 = 49
#8 x 8 = 64
#9 x 9 = 81
#10 x 10 = 100
for i in range(11):             # Loop from 0 to 10
    result = i * i              # Multiply i by itself
    print(i, "x", i, "=", result)  # Display formatted result

0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

In [4]:
#4. Use for loop to iterate from 0 to 100 and print only even numbers
for i in range(0, 101):         # Loop from 0 to 100
    if i % 2 == 0:              # Check if number is even
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [5]:
#6. Use for loop to iterate from 0 to 100 and print only odd numbers
for i in range(0, 101):         # Loop from 0 to 100
    if i % 2 == 1:              # Check if number is odd
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [6]:
#7. Use for loop to iterate from 0 to 100 and print the sum of all numbers.
# The sum of all numbers is 5050.
sum = 0                        # Initialize sum
for i in range(101):           # Loop from 0 to 100
    sum += i                   # Add current number to sum
print("The sum of all numbers is", sum)  # Output: 5050

The sum of all numbers is 5050

In [7]:
#8.Use for loop to iterate from 0 to 100 and print the sum of all evens and the
#sum of all odds.
even = 0                       # Sum of even numbers
odd = 0                        # Sum of odd numbers

for i in range(101):           # Loop from 0 to 100
    if i % 2 == 0:
        even += i              # Add to even sum
    else:
        odd += i               # Add to odd sum

print("Sum of even:", even)    # Output: 2550
print("Sum of odd:", odd)      # Output: 2500

Sum of even: 2550
Sum of odd: 2500

In [8]:
#9. This is a fruit list, ['banana', 'orange', 'mango', 'lemon'] reverse the order using loop
fruit = ['banana', 'orange', 'mango', 'lemon']  # Original list
reversed_list = []                              # Empty list to store reversed items

for i in range(len(fruit) - 1, -1, -1):          # Loop from last index to first
    reversed_list.append(fruit[i])              # Append items in reverse order

print(reversed_list)                            # Output: ['lemon', 'mango', 'orange', 'banana']

['lemon', 'mango', 'orange', 'banana']

In [9]:
#10.Iterate through the list, ['Python', 'Numpy','Pandas','Django', 'Flask'] using a for
#loop and print out the items.
li = ['Python', 'Numpy', 'Pandas', 'Django', 'Flask']  # List of technologies

for i in li:                                           # Loop through each item
    print(i)                                           # Print the item

Python
Numpy
Pandas
Django
Flask