# **PYTHON BASIC EXERCISES**

In [ ]:
#1. Check the data type of 4 - 4j
x = 4 - 4j        # Creates a complex number with real part 4 and imaginary part -4j
print(type(x))    # Displays the data type of x, which will be <class 'complex'>

<class 'complex'>

In [ ]:
#2. Find an Euclidian distance between (2, 3) and (10, 8)
import math  # Importing the math module to use the sqrt (square root) function

x1 = 2       # x-coordinate of the first point
y1 = 3       # y-coordinate of the first point
x2 = 10      # x-coordinate of the second point
y2 = 8       # y-coordinate of the second point

# Applying the Euclidean distance formula: √[(x2 - x1)² + (y2 - y1)²]
eu = math.sqrt((x2 - x1)**2 + (y2 - y1)**2)  # Calculates the distance

print(round(eu, 2))  # Prints the result rounded to 2 decimal places

9.43

In [ ]:
#3. Input the name and age from a user and store the values in variables
name = input("Enter your name :")       # Prompts the user to enter their name and stores it as a string in the variable 'name'
age = int(input("Enter your age :"))    # Prompts the user to enter their age, converts it to an integer, and stores it in the variable 'age'

Enter your name :asif
Enter your age :23

In [ ]:
#4. Declare a variable is_married and assign a value to it
is_married = True       # Assigns the Boolean value True (without quotes)
print(is_married)       # Prints: True

True

In [ ]:
#5. Declare a variable is_true and assign a value to it
is_true = True       # Assigns the Boolean value True (without quotes)
print(is_true)       # Prints: True

True

In [ ]:
#6. Declare a variable is_light_on and assign a value to it
is_light_on = False     # Assigns the Boolean value False to the variable
print(is_light_on)      # Prints: False

False

In [ ]:
#7. Declare a variable first_name and store your name in it
#Using the len() built-in function, find the length of your first name

In [ ]:
#8. Compare the length of your first name and your last name

In [ ]:
#9. Declare 5 as num_one and 4 as num_two

In [ ]:
#10. Add num_one and num_two and assign the value to a variable total
a = 5              # First number
b = 10             # Second number
total = a + b          # Add a and b, store result in c
print(total)           # Output: 15

15

In [ ]:
#11. Subtract num_two from num_one and assign the value to a variable diff
a = 5              # First number
b = 10             # Second number
diff = a - b          # Subtract b from a
print(diff)           # Output: -5

-5

In [ ]:
#12. Multiply num_two and num_one and assign the value to a variable product
a = 5              # First number
b = 10             # Second number
product = a * b          # Multiply a and b
print(product)           # Output: 50

50

In [ ]:
#13. Divide num_one by num_two and assign the value to a variable division
a = 5              # First number
b = 10             # Second number
division = a / b          # Divide a by b
print(division)           # Output: 0.5

0.5

In [ ]:
#14. Use modulus division to find num_two divided by num_one and assign the value
# to a variable remainder
a = 5              # First number
b = 10             # Second number
remainder = a % b          # Find the remainder when a is divided by b
print(remainder)           # Output: 5

5

In [ ]:
#15. Calculate num_one to the power of num_two and assign the value to a variable exp
a = 5              # First number
b = 10             # Second number
exp = a ** b          # Calculate a to the power of b
print(exp)           # Output: 9765625

9765625

In [ ]:
#16.Find floor division of num_one by num_two and assign the value to a variable floor_division
a = 5              # First number
b = 10             # Second number
floor_division = a // b          # Find the floor division of a by b
print(floor_division)           # Output: 0

0

In [ ]:
#17
#1. Declare your age as integer variable
#2. Declare your height as a float variable
#3. Declare a variable that store a complex number
age = 25                   # Integer variable
height = 160.0             # Float variable
num = 4 + 5j               # Complex number
print(age, height, num)    # Output: 25 160.0 (4+5j)

25 160.0 (4+5j)

In [ ]:
#18. Write a script that prompts the user to enter
#side a, side b, and side c of the triangle.
#Calculate the perimeter of the triangle (perimeter = a + b + c).
side_a = int(input("Enter side a: "))    # Input side a
side_b = int(input("Enter side b: "))    # Input side b
side_c = int(input("Enter side c: "))    # Input side c
perimeter = side_a + side_b + side_c     # Sum of all sides
print("Perimeter of the triangle:", perimeter)

Enter side a: 3
Enter side b: 3
Enter side c: 3
Perimeter of the triangle: 9

In [ ]:
#19.Get length and width of a rectangle using prompt.
#Calculate its area (area = length x width) and perimeter (perimeter = 2 x (length + width))
length = int(input("Enter length: "))    # Input length
width = int(input("Enter width: "))      # Input width
area = length * width                     # Calculate area
perimeter = 2 * (length + width)          # Calculate perimeter
print("Area of the rectangle:", area)     # Print Area
print("Perimeter of the rectangle:", perimeter) #print Perimeter3

Enter length: 2
Enter width: 3
Area of the rectangle: 6
Perimeter of the rectangle: 10

In [ ]:
#20. Calculate the slope, x-intercept and y-intercept of y = 2x -2
x = int(input("Enter x: "))       # Input x value
y = 2 * x - 2                     # Apply equation y = 2x - 2
print(y)

Enter x: 9
16

In [ ]:
#21. Slope is (m = y2-y1/x2-x1).
#Find the slope and Euclidean distance between
#point (2, 2) and point (6,10)
import math
x1 = 2
y1 = 2
x2 = 6
y2 = 10
m = (y2 - y1) / (x2 - x1)                         # Slope formula
eu = math.sqrt((x2 - x1)**2 + (y2 - y1)**2)       # Euclidean distance formula
print(m)                                          # Output: 2.0
print(round(eu, 2))                               # Output: 8.94

2.0
8.94

In [ ]:
#22. Compare the slopes in previous tasks
m = 5.0
eu = 4.0
print(m == eu)        # Output: False

False

In [ ]:
#23. Calculate the value of y (y = x^2 + 6x + 9).
#Try to use different x values and
#figure out at what x value y is going to be 0.
x = -3
y = x**2 + 6*x + 9     # Quadratic expression
print(y)               # Output: 0

0

In [ ]:
#24. Use and operator to check if 'on' is found in both 'python' and 'dragon'
a = "python"
b = "dragon"
if "on" in a and "on" in b:
    print("on in both")
else:
    print("not found")

on in both

In [ ]:
#25. Find the length of the text python and convert the value to float and
#convert it to string
text = "python"
length = len(text)             # Count characters
fl = float(length)             # Convert to float
string = str(fl)               # Convert to string
print("length is", length)
print("float is", fl)
print("string is", string)

length is 6
float is 6.0
string is 6.0

In [ ]:
#26. I hope this course is not full of jargon.
#Use in operator to check if jargon is in the sentence.
text = "I hope this course is not full of jargon."
if "jargon" in text:
    print("yes")
else:
    print("no")

yes

In [ ]:
#27. Even numbers are divisible by 2 and the remainder is zero.
#How do you check if a number is even or not using python?
value = int(input("Enter a value: "))   #input value from user
if value % 2 == 0:                      #using if condition
    print("It is divisible by 2")       #printing if statement
else:
    print("It is not divisible by 2")   #printing else statement

Enter a value: 8
It is divisible by 2

In [ ]:
#28. Check if the floor division of 7 by 3 is equal to the int converted value of 2.7.
a = 7 // 3
b = 2.7
if a == int(b):         # Convert float to int before comparison
    print("Same")
else:
    print("Not same")

Same

In [ ]:
#29. Check if type of '10' is equal to type of 10
if type('10') == type(10):     # Compare str vs int
    print("true")
else:
    print("false")

false

In [ ]:
#30. Check if int('9.8') is equal to 10
a = float('9.8')         # Convert string to float
if a == 10:
    print("True")
else:
    print("False")

False

In [ ]:
#31. Write a code which gives grade to students according to theirs scores:
#80-100, A
#70-89, B
#60-69, C
#50-59, D
#0-49, F
mark = int(input("Enter a mark: "))  # Prompt user to enter a score and convert it to integer

if mark >= 80 and mark <= 100:       # Check if score is between 80 and 100
    print("A")                       # Grade A
elif mark >= 70 and mark <= 79:      # Check if score is between 70 and 79
    print("B")                       # Grade B
elif mark >= 60 and mark <= 69:      # Check if score is between 60 and 69
    print("C")                       # Grade C
elif mark >= 50 and mark <= 59:      # Check if score is between 50 and 59
    print("D")                       # Grade D
else:                                # If score is below 50
    print("F")                       # Grade F

Enter a mark: 55
D

In [ ]:
#32.Check if the season is Autumn, Winter, Spring or Summer. If the user input is:
#September, October or November, the season is Autumn. December, January
#or February, the season is Winter. March, April or May, the season is Spring
#June, July or August, the season is Summer

season = input("Enter month: ").capitalize()  # Prompt user to enter a month and capitalize the first letter

response = [                                  # List of seasons grouped by months
    ["September", "October", "November"],     # Autumn
    ["December", "January", "February"],      # Winter
    ["March", "April", "May"],                # Spring
    ["June", "July", "August"]                # Summer
]

if season in response[0]:                     # Check if month is in Autumn group
    print("Autumn")
elif season in response[1]:                   # Check if month is in Winter group
    print("Winter")
elif season in response[2]:                   # Check if month is in Spring group
    print("Spring")
elif season in response[3]:                   # Check if month is in Summer group
    print("Summer")
else:                                         # If month doesn't match any group
    print("Not found")

Enter month: september
Autumn